* {
  margin: 0;
  padding: 0;
}

.Evento img{
  width: 700px;
  border-radius: 30px;
  height: 500px;
}

.Evento{
  display: flex;
  justify-content: space-around;
  padding: 30px;
  align-items: center;
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.galeria img{
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 15px;
}
.galeria{
  display: flex;
  flex-wrap: wrap;
  padding: 30px 80px;
  justify-content: center;
  gap: 10px;
}
header{
  display: flex;
  background-color: antiquewhite;
  padding: 20px 80px;
  align-items: center;
  justify-content: center;
}
header img{
  width: 80px ;
}
footer{
  display: flex;
  color: white;
  background-color: rgb(0, 0, 0);
  padding: 20px 80px;
  justify-content: center;
}


@media screen and (max-width: 600px){
  .evento{
    flex-direction: column;
    gap: 30px;
  }
  .evento img{
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  .galeria img{
    width: 70vw;
    height: 300px;
    object-fit: cover;
    
  }
  .galeria{
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }

}